*{
    flex-wrap: wrap;
    margin:20px;
}
body{
    height: 20vh;
    margin:20px;
    

} 
img{
    
    border-radius: 3em;
    justify-content:space-betwen;
    box-shadow: 5px 6px 8px rgb(238, 233, 162) ;
}
.searchengien{
    height: 100%;
    justify-content:space-between;

}
#search,#select{
    border-radius: 20px;
    box-shadow: 5px 6px 8px gray;
    width:250px
}
@media screen and (max-width:954px) {
    *{
        flex-wrap: wrap;
        margin:30px;
    }
    body{
        height: 80vh;
        margin:0;
       
        
    
    } 
    img{
        height:20px;
        width:300px;
        border-image: round;
        margin-left:0;
        justify-content:space-between;
        flex-wrap:center;
        position: relative;
    }
    .searchengien{
        height: 100%;
        justify-content:space-between
    
    }
}